Telethon==1.44.0
telethon-tgcrypto==0.0.3
TgCrypto==1.2.5
opencv-python-headless==5.0.0.93
numpy==2.2.6
pyaes==1.6.1
rsa==4.9.1
pyasn1==0.6.4
aiofiles==25.1.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
async-timeout==5.0.1
attrs==26.1.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.4.9
click==8.4.2
cryptography==50.0.0
devgagantools==4.0.1
dnspython==2.8.0
Flask==2.2.5
frozenlist==1.8.0
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
motor==3.7.1
multidict==6.7.1
mutagen==1.48.1
packaging==26.3
pillow==12.3.0
propcache==0.5.2
psutil==7.2.2
pycparser==3.0
pymediainfo-pyrofork==6.0.2
pymongo==4.17.0
pyrofork==2.3.69
# ggnpyro
# https://www.dl.dropboxusercontent.com/scl/fi/e0fo6fcjn8kmr5r0x6wvg/myownpyro.zip?rlkey=d1znpwckss4ullz0sg7e1qjjg&st=kmbh7wdv&dl=0
python-dotenv==1.2.2
pytz==2026.3.post1
PySocks==1.7.1
requests==2.34.2
typing_extensions==4.16.0
urllib3==2.7.0
# BUMPED from 2.2.2 (CVE-2023-25577)
Werkzeug==2.2.3
yarl==1.24.5
yt-dlp==2026.7.4
